// 基本颜色
$theme-color:#409EFF;
$main-font:#303133;
$normal-font:#606266;
$minor-font:#909399;
$first-border:#DCDFE6;
$seconde-border:#E4E7ED;
$third-border:#EBEEF5;
$fourth-border:#F2F6FC;

// 基本布局
@mixin mix-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mix-flex-x {
  display: flex;
  justify-content: center;
}

@mixin mix-flex-y {
  display: flex;
  align-items: center;
}